{% extends 'layout.html' %}
{% block title %}
    Novo Agendamento
{% endblock %}
{% block content %}
    <h2>Cadastrar Agendamento</h2>
    <form action="{% url 'cadastro_agendamentos' %}" method="post" class="formulario">    
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome">
            </div>
            <div class="form-group col-md-6">
            <label for="data_e_hora">Data e Hora</label>
            <input type="datetime-local" class="form-control" name="data_e_hora">
            </div>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" name="telefone">
        </div>
        <div class="form-group">
            <label for="diagnostico">Diagnóstico</label>
            <input type="text" class="form-control" name="diagnostico">
        </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
{% endblock %}